.Header {
    background: var(--color-primary);
    color: white;
    padding: 1rem;
    height: var(--header-height);
    &-line {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &-title {
        margin: 0;
        margin-bottom: 1rem;
        font-size: 24px;
    }
    &-search {
        padding: 1rem;
        border: 0;
        border-radius: 0.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background: #0003;
        color: white;
    }
    &-submit {
        padding: 1rem;
        border: 0;
        background: var(--color-secondary);
        color: white;
        border-radius: 0.5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &-count {
        color: #fffc;
        margin-left: 2rem;
    }
}
